@font-face {
  font-family: "gokuboso";
  src: url("fonts/chogokubosogothic_5.ttf") format("truetype");
}
@font-face {
  font-family: "opening";
  src: url("fonts/BodoniModaSC-VariableFont_opsz,wght.ttf") format("truetype");
}
@font-face {
  font-family: "text";
  src: url("fonts/HigureGothic-Light.ttf") format("truetype");
}

body {
  background-color: rgb(235, 235, 235);
  font-family: 'メイリオ';
  margin: 0;
}
.opening {
  font-size: 4vw;
  font-family: "opening";
  color: rgb(235, 235, 235);
  text-align: center;
}
ul {
  margin: 0 3.5vw;
  list-style: none;
  padding: 0;
}
.list::before {
  content: "";
  height: 0.5vw;
  width: 0.5vw;
  display: inline-block;
  background-color: #69a0b9;
  border-radius: 50%;
  position: relative;
  top: -0.4vw;
  margin-right: 1vw;
}
.list {
  font-family: "text";
  font-size: 2vw;
  margin: 1vw 0;
}
h1 {
  font-size: 5vw;
  color: black;
  margin: 22vw 0;
  display: inline-block;
}
h2 {
  font-size: 4vw;
  font-family: "gokuboso";
  color: black;
  margin: 7.5vw;
  text-align: center;
}
h3 {
  font-size: 3vw;
  font-family: "text";
  color: black;
  margin: 10vw 3.5vw;
  margin-bottom: 2vw;
  display: inline-block;
}
h4 {
  font-size: 2.5vw;
  font-family: "text";
  margin: 8vw;
  margin-bottom: 3vw;
}
h4::before {
  content: "";
  height: 0.75vw;
  width: 0.75vw;
  display: inline-block;
  background-color: #69a0b9;
  position: relative;
  top: -0.6vw;
  margin-right: 1vw;
}
img {
  width: 35vw;
  margin: 3vw 5vw;
  margin-bottom: 0;
}
.top {
  font-size: 1.5vw;
  font-family: "text";
  color: black;
  margin: 0 10vw 15vw 10vw;
  text-align: center;
}
.name-en {
  font-size: 2vw;
  font-family: "text";
  color: black;
  margin: 1vw 9vw 0 11vw;
}
.name-ja {
  font-size: 5vw;
  font-family: "text";
  color: black;
  margin: 0 10vw;
}
.edu {
  font-size: 1.75vw;
  font-family: "text";
  color: black;
  padding: 2vw 0 .75vw 0;
  margin: 0;
}
.text {
  font-size: 1.5vw;
  font-family: "text";
  color: black;
  margin: .75vw 11vw;
}
.github {
  font-size: 2vw;
  font-family: "text";
  color: #69a0b9;
  display: block;
  margin: 10vw 11vw;
  margin-bottom: 2vw;
  text-decoration: none;
  width: fit-content;
}
.copyright {
  font-size: 1.1vw;
  font-family: "text";
  color: black;
  margin: 2vw 4vw;
  text-align: end;
}
.inline1 {
  display: flex;
}
.inline2 {
  display: flex;
  justify-content: center;
}
.acd-check{
  display: none;
}
.acd-label{
  color: rgb(235, 235, 235);
  font-size: 2.5vw;
  position: fixed;
  right: 0;
  display: block;
  margin: 1vw 2vw;
  mix-blend-mode: difference;
  z-index: 1;
}
.acd-content{
  list-style: none;
  position: fixed;
  top: 3vw;
  right: 0;
  padding: 1vw;
  margin: 1.5vw;
  mix-blend-mode: difference;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.menu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2vw;
  color: rgb(235, 235, 235);
  text-decoration: none;
}
li {
  padding: 0.5vw;
  width: fit-content;
}
.acd-check:checked + .acd-label + .acd-content{
  opacity: 1;
  visibility: visible;
  padding: 1vw;
}
.scaleup1 {
  transition: transform 0.3s ease-in-out;
}
.scaleup1:hover {
  transform: scale(1.2)
}
.scaleup2 {
  transition: transform 0.3s ease-in-out;
}
.scaleup2:hover {
  transform: scale(1.1)
}
.fadein {
  animation: fadeIn 0.75s ease-in-out forwards;
}
@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes passing-bar{
  0% {
    left: 0;
    right: auto;
    width: 0;
  }
  50% {
    left: 0;
    right: auto;
    width: 100%;
  }
  51% {
    left: auto;
    right: 0;
    width: 100%;
  }
  100% {
    left: auto;
    right: 0;
    width: 0;
  }
}
@keyframes passing-bar{
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  51% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@-webkit-keyframes passing-txt{
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes passing-txt{
  0% { opacity:0; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.passing .passing-box {
  display: block;
  text-align: center;
}
.passing .passing-bar {
  position: relative;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.passing .passing-bar:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 15%;
  position: absolute;
  left: 0;
  top: 22vw;
  z-index: 1;
  background: #69a0b9;
}
.passing .passing-txt {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.passing.move .passing-bar:before {
  -webkit-animation: passing-bar 1s ease 0s 1 normal forwards;
  animation: passing-bar 1s ease 0s 1 normal forwards;
  animation-delay: 1.5s
}
.passing.move .passing-txt {
  -webkit-animation: passing-txt 0s ease .5s 1 normal forwards;
  animation:passing-txt 0s ease .5s 1 normal forwards;
  animation-delay: 2s
}
.curtain{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #69a0b9;
  z-index:1000;
}
@keyframes byecurtain {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
.curtain {
  -webkit-animation: byecurtain 2s forwards;
          animation: byecurtain 2s forwards;
}

.curtain::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(235, 235, 235);
  width: 0;
  height: 1px;
}
@keyframes opencurtain {
  0% {
    width: 0;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  90% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.curtain::before {
  -webkit-animation: opencurtain 2s forwards;
          animation: opencurtain 2s forwards;
}
